
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#content" data-toggle="tab">Content</a></li>
    <li><a href="#formatting" data-toggle="tab">Formatting tips</a></li>

  </ul>




 <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="content">
	  <%= f.text_area :body, :class => "field span8"%>
    </div>
    <div class="tab-pane fade" id="formatting">
	   <%= render "/shared/formatting"%>
    </div>


  </div>





          <div class="form-actions">
           <%= f.submit "Submit", :class => 'btn' %> - - 
         <%= link_to "Cancel", group_post_path(@post.group, @post)%>
          </div>




		
