





  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



	<%= f.label :name %>
  <%= f.text_field :name, :class => "field span6" %>
 



  <%= f.label :about %>
  <%= f.text_area :about, :class => "field span6"%>
  

  <%= f.label :avatar %>

<%= f.file_field :avatar %>

<% if !(@group.avatar.content_type =~ /^image/).nil? %>

<a href="#" rel="popover" 
					data-content="<img src='<%= @group.avatar.url(:med)%>'>"><img src="<%= @group.avatar.url(:thumb)%>"> </a> 

<% end %>




   	<div class="controls">
     <label class="checkbox">
		<%= f.check_box :is_private %>
      Is this group private?
     </label>
   </div>

	<% if user_signed_in? %>
	<% if current_user.id == 1%>
	<div class="controls">
     <label class="checkbox">
		<%= f.check_box :frontpage %>
      watch this on the front page?
     </label>
   </div>
	<% end %>
	<% end %>



   <div class="form-actions">
    <%= f.submit "Submit", :class => 'btn' %> - 
  <%= link_to "Cancel", root_path%>
   </div>





