	  <div class="row">
				<div class="span4">	  
					
					
						<%= render :partial => "shared/filter" %>

					</br>		
			        <div class="well"> 	
	
	
	<h4><b><%= @user.username %></b><small> <%= distance_of_time_in_words_to_now(@user.last_sign_in_at) %></small>  </h4> 
	<p> <%= @user.about%></p>
	<p> status message</p>	
		
	

												<h4>sections</h4>										
											      <ul class="unstyled">
					<% for g in @user.groups %>
						<li> <img src="http://placehold.it/15x15" alt="">																		
						<%= link_to g.name.capitalize, group_path(g)  %>
						</li>	   
										     <% end %>
										</ul>
										
				




	
	</div>
					





		        </div>
     </div>