	
	

	
	
		<div class="span1">
		  <p> </p>
		</div>	
		<div class="span6">
		 		<div class="btn-toolbar">
	        	<div class="btn-group">
	            <button class="btn btn-mini">Filter your content</button>
	            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	          	<ul class="dropdown-menu">
	            	<li><a href="#">Latest</a></li>
	            	<li><a href="#">Most Commented</a></li>
	            	<li><a href="#">Highest Rated</a></li>
		        </ul>
	            </div><!-- /btn-group -->
	            </div><!-- /btn-toolbar -->
		</div>
	
	
	

 <% @num = 1%>	
 <% for post in @user.posts %>	

	
	<div class="span1">
	  <p> <small> <%= @num %> | +21 </small>
			<% if !post.link.blank? %>

				<a href="http://<%= post.link %>" i class="icon-share" target="_blank"></a>


			<% end %>
		</p>
	</div>	
	<div class="span6">
	  <h3 class="title"><%= link_to post.title, group_post_path(post.group, post) %>
		

		
		
		</h3>
	  <p><small><%= link_to post.group.name, group_path(post.group)%> | <%= distance_of_time_in_words_to_now(post.created_at)  %> ago by <%= link_to @user.username, user_path(@user) %> | 50 comments</small></p>
	</div>

<% @num += 1  %>

	<% end %>
	
	
	
	
	</div>




<%= render :partial => 'show_right_menu' %>

