

<div class="btn-group">


	 <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">Filter posts <span class="caret"></span></button>






	<% if params[:controller] == 'users'%>
      <ul class="dropdown-menu">
        <li><a href="<%= user_path(@user.username) %>">Posts (recent)</a></li>
        <li><a href="<%=user_posts_latest_comment_path(@user.username)%>">Posts (latest comment)</a></li>
        <li><a href="<%= user_comments_latest_path(@user.username)%>">Comments (recent)</a></li>
      </ul>
	<% end%>

	<% if params[:controller] == 'groups'%>
      <ul class="dropdown-menu">
        <li><a href="<%= group_path(@group)%>">Posts (recent)</a></li>
        <li><a href="<%=group_group_posts_latest_comment_path(@group.name.downcase)%>">Posts (latest comment)</a></li>
      </ul>
	<% end%>








<% if !@group.nil? %>
<%=link_to "New post", new_group_post_path(@group.id), :class => "btn btn-small" %>



<% if user_signed_in?%>

	<% @subscription = Subscription.find(:first, :conditions => ['user_id = ? and group_id = ?', current_user.id, @group.id])  %>
	
	
	<% if @subscription.nil? %>

		<%=link_to "Subscribe", group_subscriptions_path(@group.id), :class => "btn btn-small", :method => "post" %>
		<% end %>
		
		<% if  !@subscription.nil? %>
		
		<%=link_to "Unsubscribe", group_subscription_path(@subscription.id, @subscription.id), :class => "btn btn-small", :method => "delete", :confirm => "Unsubscribe to group?" %>
	<% end %>

<% end %>


<% end %>

</div>




