	        <div class="well"> 

<% if !(@group.avatar.content_type =~ /^image/).nil? %>
<img src="<%= @group.avatar.url(:med)%>" class="img-polaroid">
<% end %>


				<h2><%= link_to @group.name, group_path(@group) %>		


		</h2>	<p><small> <%= link_to @group.user.username, user_path(@group.user.username) %> created group <%= distance_of_time_in_words_to_now(@group.created_at)  %> ago  
			
			
			<% if user_signed_in? %>
			<% if @group.user_id == current_user.id %>
					
								<a href="<%= edit_group_path(@group) %>" i class="icon-cog" rel="tooltip" title="edit" ></a>
					
			<% end %>
			<% end %>
			
			
			
			
			</small></p>
				
				<p><%= raw(textilize(@group.about))%></p>
				
			
		</div>