	
	
	<% if posts.empty? %>
	<div class="row">
		<div class="span8">
			create some content?
			</div></div>
	
	<% else %>
	

 <% @num = posts.count%>	

 <% for post in posts %>	


<div class="row">
	
	<div class="span1">

	
<p>
		<small> <%= @num %> </small>
		<% if !post.link.blank? %>
			<a href="<%= post.link %>" i class="icon-share" target="_blank" rel="tooltip" title="<%= post.link %>"></a>
		<% end %>
		
		<% if post.is_sticky %>
		<span class="label label-info">	<a i class="icon-star-empty"> </a> </span><% end %>	

		</p>
	</div>	



	<div class="span6">
 		<% if getPic(post.content) %> 

			
				<a href="#"  rel="popover" 
									data-content="<img src='<%= getPic(post.content)%>'>"><img src="<%= getPic(post.content)%>" style= 'float:right; width: 70px; padding-top: 10px'> </a>
			
			
		<% end %>
		<h3 class="title"> <%= link_to post.title, group_post_path(post.group, post) %> 		</h3>
	  <p><small>
	
	<%= link_to post.group.name, group_path(post.group) if params[:controller] == "users"%>
	
	
	<%= distance_of_time_in_words_to_now(post.created_at)  %> ago by <%= link_to post.user.username, user_path(post.user.username) %> <a class="icon-comment-f"></a> <%= post.comment_threads.count %> 


	  <a class="icon-thumbs-up-f" rel="tooltip" data-method="post" href="<%=post_vote_path(post)%>" data-original-title="give a thumbs up"></a>



			<small> <%=post.upvotes.size%></small></small></p>	
	
	</div>
	
	</div>
	
	 <% @num -= 1  %>
	
<% end %><% end %>