	
 <% @num = 1%>	

 <% for post in posts %>	
	
	<div class="span1">
	  <p> <small> <%= @num %> | +21 </small>
		
		<% if !post.link.blank? %>

			<a href="<%= post.link %>" i class="icon-share" target="_blank"></a>
			
			
		<% end %>
		
		</p>
	</div>	

	<div class="span6">

 <h3 class="title"><%= link_to post.title, group_post_path(post.group, post) %> </h3>
	  <p><small><%= link_to post.group.name, group_path(post.group)%> | <%= distance_of_time_in_words_to_now(post.created_at)  %> ago by <%= link_to post.user.username, user_path(post.user) %> (+21 thumbs up/ 50 comments)</small></p>	
	
	</div>
	 <% @num += 1  %>
	
<% end %>