
<div class="span7">


    <div class="alert" "alert-block">
	
    </div>

</div>



	<div class="span7">







	

<% show_comments_with_children(@comments) do |comment|%>

<p><small>

<% if @post.user.username == comment.user.username %>	
	-> <% end %>
	<%= link_to comment.user.username, user_path(comment.user.username) %>   


   <%= distance_of_time_in_words_to_now(comment.created_at)  %> 



	<% if user_signed_in?%>
			<a href="<%= post_comment_new_reply_path(:post_id => @post, :comment_id => comment.id) %>" i class="icon-share-f" rel="tooltip" title="reply" ></a>
	<% end %>



			<a href="<%= comment_post_comment_vote_path(:post_id => @post, :comment_id => comment.id) %>" i class="icon-thumbs-up-f" rel="tooltip" title="give a thumbs up", data-method="post"></a> <% if comment.votes.size > 0 %> (<%=comment.votes.size%>) <% end %>


	<% if user_signed_in?%>
	<% if current_user.username == comment.user.username %>

	
	
		<a href="<%= edit_post_comment_path(:post_id => @post, :id => comment.id) %>" i class="icon-cog-f" rel="tooltip" title="edit"></a>
	
	
	<% end %>
	<% end %>
	</small></p>


	<%= sanitize(textilize(comment.body )) %> 
	






<%end%>


	</div>







