
<div class="span7">



<hr>
<p><small>Discussion (<%= @post.comment_threads.count %>) <% if user_signed_in? %>
<% end %></small> </p>

</div>



	<div class="span7">







	

<% show_comments_with_children(@post.root_comments) do |comment|%>

<p><small>

<% if @post.user.username == comment.user.username %>	
	-> <% end %>
	<%= link_to comment.user.username, user_path(comment.user.username) %>   


   <%= distance_of_time_in_words_to_now(comment.created_at)  %> 

	<% if user_signed_in?%>
	- <%= link_to "reply", post_comment_new_reply_path(:post_id => @post, :comment_id => comment.id) %> 
	<% end %>

	<% if user_signed_in?%>
	<% if current_user.username == comment.user.username %>
	<%= link_to "edit", edit_post_comment_path(:post_id => @post, :id => comment.id) %>
	<% end %>
	<% end %>
	</small></p>
	<%= sanitize(textilize(comment.body )) %>






<%end%>


	</div>







