<p id="notice"><%= notice %></p>

	
	<div class="span7">

 <h3 class="title">	


			
<% if !@post.link.blank? %>

			<a href="<%= @post.link %>" i class="icon-share" target="_blank"></a>
			
			
		<% end %>
		
		
		<%= link_to @post.title, group_post_path(params[:group_id], @post) %> 	</h3>
	  <p>			<small>
		
		<%= link_to "", :back, :class=> "icon-step-backward", :title=> "go back", :rel => "tooltip" %>
		
	
		
	<%= link_to @post.group.name, group_path(@post.group)%>    <%= distance_of_time_in_words_to_now(@post.created_at)  %> ago by <%= link_to @post.user.username, user_path(@post.user.username) %> 
		
		
		<% if user_signed_in? %>
		
			<% if @post.user_id == current_user.id %>
		- <%=link_to "edit", edit_group_post_path(@group, @post)%>
			<% end %>
			<% end %>
			
			
			
		
		</small></p>	
	
    <%= raw(textilize(@post.content)) %>
    

	</div>

	<% if !@post.is_locked? %>
<%= render "comments"%>


	<% end %>
	
	
	</div>	






  <div class="row">
			<div class="span4">	  


				<div class="btn-group">



				<% if user_signed_in? %>
					 <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">Filter <span class="caret"></span></button>
			      <ul class="dropdown-menu">
			        <li><a href="<%= comments_sort_newest_path(@post)%>">Comments (newest first)</a></li>
			        <li><a href="<%=comments_sort_oldest_path(@post)%>">Comments (oldest first)</a></li>
			      </ul>
				
				
				<%=link_to "Leave comment?", new_post_comment_path(@post), :class => "btn btn-small"%>
				<% end %></div>
 <br/>

		     	<%= render 'shared/group_title'%>
			
				
				

				

	        </div>




