
<% if notice  %>
	<div class="alert alert-success"><%= notice %></div>
	<% end %>
	
	
	<div class="span7">

 <h3 class="title">	


			
<% if !@post.link.blank? %>

			<a href="<%= @post.link %>" i class="icon-share" target="_blank"></a>
			
			
		<% end %>
		
		
		<%= link_to @post.title, group_post_path(params[:group_id], @post) %> 	</h3>
	  <p>			<small>
		
		<%= link_to "", :back, :class=> "icon-step-backward", :title=> "go back", :rel => "tooltip" %>
		
	
		
	<%= link_to @post.group.name, group_path(@post.group)%>    <%= distance_of_time_in_words_to_now(@post.created_at)  %> ago by <%= link_to @post.user.username, user_path(@post.user.username) %> 
		
		
		<% if user_signed_in? %>
		
			<% if @post.user_id == current_user.id %>
	
			<a href="<%= edit_group_post_path(@group, @post) %>" i class="icon-cog" rel="tooltip" title="edit" ></a>
			<% end %>
			
			
		<% end %>
			
			
			
		
		</small></p>	
	
	
<%= raw RedCloth.new(@post.content).to_html %>


	</div>

	<% if !@post.is_locked? %>
<%= render "comments"%>
	<% end %>
	
	
	</div>	






  <div class="row">
			<div class="span4">	  


		     	<%= render 'shared/group_title'%>
			
				
				

				

	        </div>




