<p id="notice"><%= notice %></p>


	
	<div class="span7">

 <h3 class="title"><%= link_to @post.title, group_post_path(params[:group_id], @post) %> </h3>
	  <p><small><%= link_to @post.group.name, group_path(@post.group)%>    <%= distance_of_time_in_words_to_now(@post.created_at)  %> ago by <%= link_to @post.user.username, user_path(@post.user) %> (+21 thumbs up/ 50 comments)</small></p>	
	
    <%= sanitize(textilize(@post.content)) %>
    
	
	</div></div>
	


  <div class="row">
			<div class="span4">	  

		     	<%= render 'shared/group_title'%>
			
				
				
				<p>	<%=link_to "Comment", group_path(@group), :class => "btn"%> 
				
	<% if user_signed_in? %>
	
	<% if @post.user_id == current_user.id %>
<%=link_to "Edit post", edit_group_post_path(@group, @post), :class => "btn"%>
	<% end %>	<% end %>
					</p>
				
				

				
				
				
			



	        </div>




